.headeruser {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    background: #efefef;
}

.headeruser-right {
    margin: 15px 0;
    display: flex;
    width: 50%;
    border-right: 1px solid rgb(154, 153, 153);
}

.headeruser-right-img {
    margin: 0 1.5rem 0 2.5rem;
}
.headeruser-right-img,
img {
    height: 5.6rem;
    width: 5.6rem;
    border-radius: 50%;
}
.headeruser-left {
    margin: 15px 0;

    width: 50%;
}
.headeruser-left-infor {
    display: flex;
    flex-direction: column;
    margin: 0 1.6rem;
}
