.form-login {
    width: 300px;
    margin: 100px auto;
}

.form-login-submit {
    text-align: center;
}

.form-login-submit-login {
    width: 12em;
}

.error {
    color: red;
}

.title {
    font-size: 1.6em;
    color: royalblue;
}
